Body {  
    font-family: 'Times New Roman';  
    background-image: url("./images/login1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  button {   
         background-color: blueviolet;   
         width: 25%;  
          color: orange;   
          padding: 10px;   
          margin: 15px  0px; 
          border: none;   
          cursor: pointer;
          border-radius: 15px;  
          box-shadow: 2px 3px;
           }   
   div {   
          border: 3px solid #a50a0a;  
          width: 300px; 
          text-align: center;
          margin-left: 10px;
          border-radius: 20px;
      }   
   input[type=text], input[type=password] {   
          width: 50%;   
          margin: 8px 0;  
          padding: 12px 20px;   
          display: inline-block;   
          border: 2px solid rgb(185, 20, 34);   
          box-sizing: border-box;   
      }  
   button:hover {   
          opacity: 0.7;   
      }   
     
       
   .container {   
       
          padding: 25px;   
          background-color: lightblue;
          opacity: 0.8;  
      }  
      .container1 {   
       margin-left:400px;
       margin-top: 0px;
        padding: 25px;   
        background-color: lightblue;
        opacity: 0.8;  
    }  
      .avatar {
        vertical-align: middle;
        width: 60px;
        height: 60px;
        border-radius: 600%;
      }
      .Dashboard{
        width: 80px;
       margin-left: 700px;
      
         
    }
      .Signoutbtn{
        width: 65px;
        float: right;
    }
    #leftbox { 
        float:left;  
        
         padding: 25px;   
         background-color: lightblue;
         opacity: 0.8;  
    } 
    #middlebox{  
     margin-left: 400px;
         padding: 25px;   
         background-color: lightblue;
         opacity: 0.8;  
    } 
    #rightbox{ 
        float:right; 
      margin-top: -260px;
      margin-right: 120px;
         padding: 25px;   
         background-color: lightblue;
         opacity: 0.8;  
    } 
   